Hi [% name %]

You have been invited to contribute to the Genre Music Database ([% siteurl %]) by [% otheruser.name %] ([% otheruser.email %]).

You can log in using your email address and the password "[% password %]"

GMDB
