<html>
<head><title>Invitation to the Genre Music DB</title></head>
<body>
<p>Hi [% name %]</p>

<p>You have been invited to contribute to the <a href="[% FILTER htmlencode %][% siteurl %][%END%]">Genre Music Database</a> by [% FILTER htmlencode %][% otheruser.name %][%END%] ([% FILTER htmlencode %][% otheruser.email %][%END%]).</p>

<p>You can log in using your email address and the password &quot;[% password %]&quot;</p>

<p>GMDB</p>
</body>
</html>
