[% INCLUDE _header.tmpl %]
<p>Here are a list of songs</p>

<table>
[% FOREACH song IN songs %]
<tr><td><a href="[% song.url %]">[% FILTER htmlencode %][% song.name %][%END%]</a></td></tr>
[% END %]
</table>

[% INCLUDE _footer.tmpl %]
