<!DOCTYPE html>
<html lang="[% langcode || "en"%]">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" href="[% sitepath %]favicon.ico" type="image/x-icon" />
<link href="[% sitepath %]css/style.css" rel="stylesheet" type="text/css"/>
<title>[% FILTER htmlencode %][% title %][%END%]</title>
[% IF jquery %]
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
[% END %]
[% javascript %]
[% css %]
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
<div class="container">
<ul class="nav navbar-nav">
[% FOREACH menuitem IN mainmenu%]
<li[% IF menuitem.active %] class="active"[% END %]><a href="[% menuitem.url %]">[% FILTER htmlencode %][% menuitem.name %][%END%]</a></li>
[% END %]
</ul>
</div class="container">
</nav>
<div class="container">
<h1>[% FILTER htmlencode %][% title %][%END%]</h1>
