<div><div class="col-sm-6"><input id="artist_id-[%count%]" type="hidden" name="artist_id-[%count%]" value="[% artist.id %]"/><input[% UNLESS artist.name %] onchange="add_new_row(this)"[%END%] type="text" class="artist_name form-control" id="artist_name-[%count%]" name="artist_name-[%count%]" value="[% artist.name %]"/></div><div class="col-sm-6"><select type="text" class="form-control" name="artist_relationship-[%count%]">[% FOREACH relationship IN ["performer","composer","arrangement"] %]<option[%IF song.has_relationship(artist,relationship) %] selected="1"[%END%] value="[%FILTER htmlencode %][% relationship %][%END%]">[%FILTER htmlencode %][% relationship %][%END%]</option>[% END %]</select></div></div>