[% INCLUDE _header.tmpl %]
<p>Here are a list of albums</p>

<table class="table">
<tr><th>Name</th><th>Added</th><th>&nbsp;</th></tr>
[% FOREACH album IN albums %]
[% IF album.moderated || (curruser && (curruser.has_role("moderator") || curruser.has_role("admin"))) || curruser==album.addedby %]
<tr>
<td>[% album.link %]</td>
<td>[% album.formatted_added %]</td>
<td>[% IF curruser %]<div class="btn-group">
<a rel="nofollow noindex" href="[% album.editurl | html_entity %]" class="btn btn-default">Edit</a>
[% IF !album.moderated && (curruser && (curruser.has_role("moderator")||curruser.has_role("admin"))) %]
<a rel="nofollow noindex" href="[% FILTER html_entity %][% album.url %]?moderate=1[%END%]" class="btn btn-default">Moderate</a>
[% END %]
<a rel="nofollow noindex" href="[% FILTER html_entity %][% album.url %]?delete=1[%END%]" class="btn btn-default">Delete</a>
[% END %]</td>
</tr>
[% END %]
[% END %]
</table>
[% INCLUDE _footer.tmpl %]
