[% INCLUDE _header.tmpl %]
<p>Here are a list of artists</p>

<table class="table">
<tr><th>Name</th><th>Added</th><th>&nbsp;</th></tr>
[% FOREACH artist IN artists %]
[% IF artist.moderated || (curruser && (curruser.has_role("moderator") || curruser.has_role("admin"))) || curruser==artist.addedby %]
<tr>
<td>[% artist.link %]</td>
<td>[% artist.formatted_added %]</td>
<td>[% IF curruser %]<div class="btn-group">
<a rel="nofollow noindex" href="[% artist.editurl | html_entity %]" class="btn btn-default">Edit</a>
[% IF !artist.moderated && (curruser && (curruser.has_role("moderator")||curruser.has_role("admin"))) %]
<a rel="nofollow noindex" href="[% FILTER html_entity %][% artist.url %]?moderate=1[%END%]" class="btn btn-default">Moderate</a>
[% END %]
<a rel="nofollow noindex" href="[% FILTER html_entity %][% artist.url %]?delete=1[%END%]" class="btn btn-default">Delete</a>
[% END %]</td>
</tr>
[% END %]
[% END %]
</table>

[% INCLUDE _footer.tmpl %]
