[% INCLUDE _header.tmpl %]
<div class="col-md-6 pull-right">
<div class="panel panel-default">
<div class="panel-heading"><h2 class="panel-title">Songs</h2></div>
<div class="panel-body">
<ul class="list-group" style="margin-bottom: 0px;">
[% FOREACH song IN artist.songs %]
<li class="list-group-item"><a href="[% song.url %]">[% FILTER htmlencode %][% song.name %][%END %]</a> ([% FOREACH relationship IN song.relationship(artist)%][% IF loop.count>1 %],[%END%][% FILTER htmlencode %][% relationship %][%END%][%END%])</li>
[%END%]
</ul>
</div>
</div>
</div>
[% FILTER markdown2html %][% artist.description || "No description" %][%END %]
[% IF artist.tags.size %]
<ul class="list-inline">
<li><strong>Tags</strong></li>
[% FOREACH tag IN artist.tags %]
<li><a href="[% tag.url %]">[% FILTER htmlencode %][% tag.name %][% END %]</a></li>
[%END%]
</ul>
[% END %]
<p><a href="[% artist.editurl %]">Edit this</a></p>
[% INCLUDE _footer.tmpl %]
