[% INCLUDE _header.tmpl %]
<h2>Members</h2>
<ul>
[% FOREACH member IN role.members %]
<li><a href="[% member.url %]">[%FILTER htmlencode %][% member.name %][%END%]</a></li>
[% END %]
</ul>
<p><a href="[% role.editurl %]">Edit this</a></p>
[% INCLUDE _footer.tmpl %]
