[% INCLUDE _header.tmpl %]
<p>Here are a list of roles</p>

<ul>
[% FOREACH role IN roles %]
<li><a href="[% role.url %]">[% role.name | html_entity %]</a></li>
[% END %]
</ul>
<p><a href="[% FILTER html_entity %][% sitepath %]roles/new.html[%END%]">Add role</a></p>
[% INCLUDE _footer.tmpl %]
