[% INCLUDE  _header.tmpl %]

<form class="form-horizontal" method="GET" action="[% sitepath %]search.html">
<div class="form-group">
<div class="col-sm-10"><input type="text" class="form-control" id="search" name="search" placeholder="" value="[%FILTER htmlencode %][% search %][%END%]"/></div>
<div class="col-sm-2">
<button type="submit" class="btn btn-default">Search</button>
</div>
</div>

</form>
[% IF results.size %]
<table class="table">
<tr><th>Name</th><th>Added</th><th>&nbsp;</th></tr>
[% FOREACH entity IN results %]
[% IF entity.moderated || (curruser && (curruser.has_role("moderator")||curruser.has_role("admin"))) || curruser==entity.addedby %]
<tr>
<td>[% entity.link %]</td>
<td>[% entity.formatted_added %]</td>
<td btn-group">
<a href="[% FILTER htmlencode %][% entity.editurl %][%END%]" class="btn btn-default">Edit</a>
[% IF !entity.moderated %]
<a href="[% FILTER htmlencode %][% entity.url %]?moderate=1[%END%]" class="btn btn-default">Moderate</a>
[% END %]
<a href="[% FILTER htmlencode %][% entity.url %]?delete=1[%END%]" class="btn btn-default">Delete</a></div>
</td>
</tr>
[% END %]
[% END %]
</table>
[% END %]
[% INCLUDE  _footer.tmpl %]
