[% INCLUDE _header.tmpl %]
<h2>Description</h2>
<p>[% song.description || "No description" %]</p>
<h2>Tags</h2>
<ul>
[% FOREACH tag IN song.tags %]
<li><a href="[% tag.url %]">[% FILTER htmlencode %][% tag.name %][% END %]</a></li>
[%END%]
</ul>
<h2>Albums</h2>
<ul>
[% FOREACH album IN song.albums %]
<li><a href="[% album.url %]">[% FILTER htmlencode %][% album.name %][%END %]</a></li>
[%END%]
</ul>
<h2>Artists</h2>
<ul>
[% FOREACH artist IN song.artists %]
<li><a href="[% artist.url %]">[% SET notfirst=0 %][% FILTER htmlencode %][% artist.name %][%END %]</a> ([% FOREACH relationship IN song.relationship(artist)%][% IF notfirst %],[%END%][% FILTER htmlencode %][% relationship %][%END%][% SET notfirst=1 %][%END%])</li>
[%END%]
</ul>
<p><a href="[% song.editurl %]">Edit this</a></p>
[% INCLUDE _footer.tmpl %]
