[% INCLUDE _header.tmpl %]
<div class="col-md-6 pull-right">
<div class="panel panel-default">
<div class="panel-heading"><h2 class="panel-title">Albums</h2></div>
<div class="panel-body">
<ul class="list-group" style="margin-bottom: 0px;">
[% FOREACH album IN song.albums %]
<li class="list-group-item"><a href="[% album.url %]">[% album.name | html_entity %]</a></li>
[%END%]
</ul>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading"><h2 class="panel-title">Artists</h2></div>
<div class="panel-body">
<ul class="list-group" style="margin-bottom: 0px;">
[% FOREACH artist IN song.artists %]
<li class="list-group-item"><a href="[% artist.url %]">[% SET notfirst=0 %][% artist.name | html_entity %]</a> ([% FOREACH relationship IN song.relationship(artist)%][% IF notfirst %],[%END%][% relationship | html_entity %][% SET notfirst=1 %][%END%])</li>
[%END%]
</ul>
</div>
</div>
</div>
[% FILTER markdown2html %][% song.description || "No description" %][% END %]
[% IF song.tags.size %]
<ul class="list-inline">
<li><strong>Tags</strong></li>
[% FOREACH tag IN song.tags %]
<li><a href="[% tag.url %]">[% tag.name | html_entity %]</a></li>
[%END%]
</ul>
[%END%]
<p><a rel="nofollow noindex" href="[% song.editurl %]">Edit this</a></p>
[% INCLUDE _footer.tmpl %]
