[% INCLUDE _header.tmpl %]
<p>Here are a list of songs</p>

<table class="table">
<tr><th>Name</th><th>Added</th><th>&nbsp;</th></tr>
[% FOREACH song IN songs %]
[% IF song.moderated || (curruser && curruser.has_role("moderator")) %]
<tr>
<td>[% song.link %]</td>
<td>[% song.formatted_added %]</td>
<td>[% IF curruser %]<div class="btn-group">
<a href="[% FILTER htmlencode %][% song.editurl %][%END%]" class="btn btn-default">Edit</a>
[% IF !song.moderated %]
<a href="[% FILTER htmlencode %][% song.url %]?moderate=1[%END%]" class="btn btn-default">Moderate</a>
[% END %]
<a href="[% FILTER htmlencode %][% song.url %]?delete=1[%END%]" class="btn btn-default">Delete</a>
[% END %]</td>
</tr>
[% END %]
[% END %]
</table>

[% INCLUDE _footer.tmpl %]
