[% INCLUDE _header.tmpl %]
<p>Here are a list of users</p>

<table class="table">
<tr><th>Name</th><th>Last On</th></tr>
[% FOREACH user IN users %]
<tr><td><a href="[% user.url %]">[% user.name | html_entity %]</a></td><td>[% user.formatted_last_login %]</td></tr>
[% END %]
</table>

[% INCLUDE _footer.tmpl %]
