[% INCLUDE _header.tmpl %]

[% IF user==curruser || curruser.has_role('admin') %]
<p>[% user.email %]</p>
[% END %]

<h2>Roles</h2>
<ul>
[% FOREACH role IN user.roles %]
<li>[% role.link %]</li>
[%END%]
</ul>

[% IF user==curruser || curruser.has_role('admin') %]
<p><a href="[% user.editurl %]">Edit this</a></p>
[% END %]
[% INCLUDE _footer.tmpl %]
