[% INCLUDE _header.tmpl %]

<h2>Roles</h2>
<ul>
[% FOREACH role IN user.roles %]
<li>[% role.link %]</li>
[%END%]
</ul>

[% IF user==curruser %]
<p><a href="[% user.editurl %]">Edit this</a></p>
[% END %]
[% INCLUDE _footer.tmpl %]
